In [1]:
import numpy as np
import pandas as pd

In [41]:
Data=pd.read_excel( "data.xlsx" , sheet_name = "Answers" )
Data

,Occasion,Type,noGuest,Cooking,Drinks,Sodas,Juice,Beer,Wine,Spirits,Supplies,Decorations,Gathr Kit
0,0,0,2,0,0,0,0,0,0,0,0,0,kit2
1,0,0,2,1,0,0,0,0,0,0,0,0,kit3
2,0,0,2,0,1,0,0,1,0,0,0,0,kit4
3,0,0,2,1,1,1,0,1,0,0,0,0,kit5
4,0,0,5,0,0,0,0,0,0,0,0,0,NaN
5,0,0,5,1,0,0,0,0,0,0,0,0,NaN
6,0,0,5,0,1,1,1,1,0,0,0,0,NaN
7,0,0,5,1,1,1,0,1,0,0,0,0,NaN
8,0,0,10,0,0,0,0,0,0,0,0,0,NaN
9,0,0,10,1,0,0,0,0,0,0,0,0,NaN
10,0,0,10,0,1,1,1,1,0,0,0,0,NaN
11,0,0,10,1,1,1,0,1,0,0,0,0,NaN
12,0,1,5,0,0,0,0,0,0,0,0,0,NaN
13,0,1,5,1,0,0,0,0,0,0,0,0,NaN
14,0,1,5,0,1,1,1,1,0,0,0,0,NaN
15,0,1,5,1,1,1,0,1,0,0,0,0,NaN
16,0,1,10,0,0,0,0,0,0,0,0,0,NaN
17,0,1,10,1,0,0,0,0,0,0,0,0,NaN
18,0,1,10,0,1,1,1,1,0,0,0,0,NaN
19,0,1,10,1,1,1,0,1,0,0,0,0,NaN
20,0,1,15,0,0,0,0,0,0,0,0,0,NaN
21,0,1,15,1,0,0,0,0,0,0,0,0,NaN
22,0,1,15,0,1,1,1,1,0,0,0,0,NaN
23,0,1,15,1,1,1,0,1,0,0,0,0,NaN

In [42]:
Products = pd.read_excel( "data.xlsx" , sheet_name = "Products" )
products_columns = Products.columns
Products.head()

,product_ID,category_ID,category_name,brand,name,price,supplier_name
0,1_00001,1,food,Tostitos,Tortilla Chips,2.98,Duane Reades
1,1_00002,1,food,Old El Paso,Guacamole,1.39,Duane Reades
2,1_00003,1,food,Amy's,Cheese Frozen Pizza,6.69,Duane Reades
3,1_00004,1,food,Piccolo Trattoria,Margherita Pizza,10.95,Piccolo Trattoria
4,1_00005,1,food,Atami,Maki Combo A,16.00,Atami

In [43]:
#inputFormat = [ occasion , Type , noGuest , Cooking , Drinks , Sodas , Juice , Beer , Wine , Spirits , Supplies , Decorations ]

def attribution( input_list ):
    for i in range( len( Data ) ):
        if list(Data.iloc[ i ])[ : -1 ] == input_list:
            kit=Data.iloc[ i ][-1]
    df_kit = pd.read_excel( "data.xlsx" , sheet_name = kit )
    return(df_kit)

In [44]:
input1 = [ 0 , 0 , 2 , 1 , 1 , 1 , 0 , 1 , 0 , 0 , 0 , 0 ]
df1=attribution( input1 )

In [45]:
for x in df1.product_ID:
    print(x)

2_00001
2_00007

In [68]:
def getKit( kit_df ):
    columns = products_columns
    kit_elements = pd.DataFrame(columns=products_columns)
    for x in kit_df.product_ID :
        for i in range ( len( Products ) ):
            if Products["product_ID"].iloc[ i ] == x :
                kit_elements = kit_elements.append( Products.iloc[ i ] , ignore_index = True)
    return( kit_elements )

In [69]:
kit1 = getKit(df1)

In [70]:
kit1

,product_ID,category_ID,category_name,brand,name,price,supplier_name
0,2_00001,2_1,sodas,Coca Cola,1.25L bottle,0.99,Duane Reades
1,2_00007,2_3,beer,Brooklyn Lager,12fl oz bottle,1.49,Duane Reades

In [80]:
def curation ( input_list ):
    if list(Data.iloc[ 0 ])[ : -1 ] == input_list :
        return("your kit is empty, select at least one option to get a Gathr Kit")
    df_kit = attribution ( input_list )
    kit_elements = getKit ( df_kit )
    return ( kit_elements )

In [72]:
curation ( input1 )

,product_ID,category_ID,category_name,brand,name,price,supplier_name
0,2_00001,2_1,sodas,Coca Cola,1.25L bottle,0.99,Duane Reades
1,2_00007,2_3,beer,Brooklyn Lager,12fl oz bottle,1.49,Duane Reades

In [73]:
def create_input( occasion , Type , noGuest , Cooking , Drinks , Supplies , Decorations ):
    input_list = [ occasion , Type , noGuest , Cooking ] + Drinks + [ Supplies , Decorations ]
    return( input_list )

In [81]:
#possible inputs

#Kit2 
occ_2 = 0
typ_2 = 0 
guests_2 = 2
cook_2 = 0
drink_2 = [ 0 , 0 , 0 , 0 , 0 , 0]
supp_2 = 0
decor_2 = 0
input2 = create_input( occ_2 , typ_2 , guests_2 , cook_2 , drink_2 , supp_2 , decor_2 )

#Kit3 
occ_3 = 0
typ_3 = 0 
guests_3 = 2
cook_3 = 1
drink_3 = [ 0 , 0 , 0 , 0 , 0 , 0]
supp_3 = 0
decor_3 = 0
input3 = create_input( occ_3 , typ_3 , guests_3 , cook_3 , drink_3 , supp_3 , decor_3 )

#Kit4 
occ_4 = 0
typ_4 = 0 
guests_4 = 2
cook_4 = 0
drink_4 = [ 1 , 0 , 0 , 1 , 0 , 0]
supp_4 = 0
decor_4 = 0
input4 = create_input( occ_4 , typ_4 , guests_4 , cook_4 , drink_4 , supp_4 , decor_4 )

#Kit5 
occ_5 = 0
typ_5 = 0 
guests_5 = 2
cook_5 = 1
drink_5 = [ 1 , 1 , 0 , 1 , 0 , 0]
supp_5 = 0
decor_5 = 0
input5 = create_input( occ_5 , typ_5 , guests_5 , cook_5 , drink_5 , supp_5 , decor_5 )

In [82]:
curation ( input2 )

'your kit is empty, select at least one option to get a Gathr Kit'

In [83]:
curation ( input3 )

,product_ID,category_ID,category_name,brand,name,price,supplier_name
0,1_00001,1,food,Tostitos,Tortilla Chips,2.98,Duane Reades
1,1_00002,1,food,Old El Paso,Guacamole,1.39,Duane Reades
2,1_00004,1,food,Piccolo Trattoria,Margherita Pizza,10.95,Piccolo Trattoria

In [84]:
curation ( input4 )

,product_ID,category_ID,category_name,brand,name,price,supplier_name
0,2_00007,2_3,beer,Brooklyn Lager,12fl oz bottle,1.49,Duane Reades

In [1]:
curation ( input5 )

NameError: name 'curation' is not defined